:root{
  --primary-font: 'DM Sans', sans-serif;
  --primary-orange: #F3741C;
  --primary-orange-hover: #fc944a;
  --primary-black: #000000;
  --grey-bg: #F9F9FA;
  --main-text-size: 16px;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: var(--main-text-size);
  color: var(--primary-black);
}

/********* Common styles *********/
.container{
  max-width: 1400px;
  padding: 0 15px;
  margin: 60px auto 100px;
}

h1, .h1{
  margin-top: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

p{
  font-size: 1rem;
  line-height: 1.75rem;
}

.fw-500{
  font-weight: 500;
}

.text-orange{
  color: var(--primary-orange)
}
/********* End of Common styles *********/

/********* Buttons *********/
.btn{
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.625rem;
  padding: 18px 32px;
  border-radius: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary{
  color: white;
  background-color: var(--primary-orange);
}

.btn-primary:hover, .btn-primary:active{
  background-color: var(--primary-orange-hover);
}
/********* End of Buttons *********/

/********* Header *********/
.main-header{
  text-align: center;
  margin-bottom: 65px;
}

.main-header img{
  width: 99px;
}

.page-header{
  margin-bottom: 60px;
  text-align: center;
}
/********* End of Header *********/

/********* Slider *********/
.section-slider{
  background-color: var(--grey-bg);
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.slider-item {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
}

.slider-item.active {
  transform: translateX(0);
  position: static;
}

.slider-item-text{
  padding: 90px 25px 70px 25px;
  width: 100%;
  background-image: url('../media/quote.svg');
  background-repeat: no-repeat;
  background-size: 29px auto;
  background-position: top 40px left 25px;
  flex: 1 0 0%;
  transition: opacity 2s ease;
  opacity: 0;
}

.slider-item.active .slider-item-text{
  opacity: 1;
}

.slider-item-text p{
  margin-top: 0;
  margin-bottom: 26px;
}

p.slider-item-author{
  font-size: 1.063rem;
  margin-bottom: 0;
  line-height: 1.625rem;
  margin-top: 42px;
}

.slider-item-author span{
  font-size: 0.875rem;
}

.slider-item-author span strong{
  border-bottom: 1px solid var(--primary-orange);
}

.slider-item-image{
  width: 100%;
  min-height: 400px;
  flex: 0 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-nav{
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
}

.slider-nav-left, .slider-nav-right{
  display: inline-block;
  border: none;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../media/arrow.svg');
  background-size: 7px auto;
  background-color: var(--primary-orange);
  cursor: pointer;
  padding: 0;
  outline: none;
}

.slider-nav-left:hover, .slider-nav-right:hover, .slider-nav-left:active, .slider-nav-right:active{
  background-color: var(--primary-orange-hover);
}

.slider-nav-left{
  margin-right: 1px;
}

.slider-nav-right{
  transform: rotate(180deg);
}
/********* End of Slider *********/

/********* Feedback *********/
.section-feedback{
  text-align: center;
  margin: 80px auto 0;
  max-width: 590px;
}

.section-feedback p{
  font-size: 1.25rem;
  line-height: 2rem;
}

.section-feedback-btn{
  margin-top: 63px;
}
/********* End of Feedback *********/

@media (min-width: 575px){
  h1, .h1{
    font-size: 3.25rem;
    line-height: 4.25rem;
  }

  .slider-item-image{
    min-height: 600px;
  }
}

@media (min-width: 992px){
  .container{
    margin: 60px auto 300px;
  }

  .main-header{
    margin-bottom: 95px;
  }

  .section-slider{
    margin-bottom: 160px;
  }

  .slider-item{
    display: flex;
  }

  .slider-item-text{
    padding: 125px 55px 70px 55px;
    background-position: top 70px left 55px;
  }

  .slider-item-image{
    width: 582px;
  }
}

@media (min-width: 1200px){
  .slider-item-text{
    padding: 125px 117px 70px 105px;
    background-position: top 70px left 105px;
  }
}